taller-facturacion-electronica/src/test/java/META-INF/wsdl/RecepcionComprobantes.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="RecepcionComprobantesService" targetNamespace="http://ec.gob.sri.ws.recepcion" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ec.gob.sri.ws.recepcion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://ec.gob.sri.ws.recepcion" version="1.0" xmlns:tns="http://ec.gob.sri.ws.recepcion" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="RespuestaSolicitud" type="tns:respuestaSolicitud" />
			<xs:element name="comprobante" type="tns:comprobante" />
			<xs:element name="mensaje" type="tns:mensaje" />
			<xs:element name="validarComprobante" type="tns:validarComprobante" />
			<xs:element name="validarComprobanteResponse" type="tns:validarComprobanteResponse" />
			<xs:complexType name="validarComprobante">
				<xs:sequence>
					<xs:element minOccurs="0" name="xml" type="xs:base64Binary" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="validarComprobanteResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="RespuestaRecepcionComprobante" type="tns:respuestaSolicitud" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="respuestaSolicitud">
				<xs:sequence>
					<xs:element minOccurs="0" name="estado" type="xs:string" />
					<xs:element minOccurs="0" name="comprobantes">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="comprobante" type="tns:comprobante" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="comprobante">
				<xs:sequence>
					<xs:element minOccurs="0" name="claveAcceso" type="xs:string" />
					<xs:element minOccurs="0" name="mensajes">
						<xs:complexType>
							<xs:sequence>
								<xs:element maxOccurs="unbounded" minOccurs="0" name="mensaje" type="tns:mensaje" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="mensaje">
				<xs:sequence>
					<xs:element minOccurs="0" name="identificador" type="xs:string" />
					<xs:element minOccurs="0" name="mensaje" type="xs:string" />
					<xs:element minOccurs="0" name="informacionAdicional" type="xs:string" />
					<xs:element minOccurs="0" name="tipo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="validarComprobanteResponse">
		<wsdl:part element="tns:validarComprobanteResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="validarComprobante">
		<wsdl:part element="tns:validarComprobante" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="RecepcionComprobantes">
		<wsdl:operation name="validarComprobante">
			<wsdl:input message="tns:validarComprobante" name="validarComprobante">
			</wsdl:input>
			<wsdl:output message="tns:validarComprobanteResponse" name="validarComprobanteResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecepcionComprobantesServiceSoapBinding" type="tns:RecepcionComprobantes">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="validarComprobante">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="validarComprobante">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="validarComprobanteResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RecepcionComprobantesService">
		<wsdl:port binding="tns:RecepcionComprobantesServiceSoapBinding" name="RecepcionComprobantesPort">
			<soap:address location="https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantes?wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>